<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table id='new_task_table'>
    <td><%= f.text_field :title %></td>
    <td><%= f.text_field :due_string, class: 'datepicker' %></td>
    <td><%= f.submit "Create Task" %></td>
  </table>
    <%= f.check_box :complete, hidden: 'true' %>
    <%= f.number_field :user_id, hidden: 'true' %>
<% end %>
