<section id="task_list">
  <table>
	<th></th>
	<th>Title</th>
	<th><%= completed ? 'Finish Date' : 'Due Date' %></th>
	<th>Action</th>
  <% unless completed %>
	<%= render 'tasks/form'%>
    <% tasks = @pending_tasks %>
  <% else %>
    <% tasks = @completed_tasks %>
  <% end %>
	<% prev = nil %>
	<% tasks.length.times do |i| %>
		<%= render partial: 'task', locals: {task: tasks[i], completed: completed, prev: prev, after: tasks[i+1] } %>
		<% prev = tasks[i] %>
	<% end %>
	<tr><td></td>
	<td>
  <% if @page && completed # a previous page exists %>
	<%= link_to 'Back', "/tasks?page=#{@page-1}", class: "fg-button ui-state-default ui-corner-all"  %>
  <% end %>
    </td><td></td>
    <td>
  <% if @next_page && completed # a next page exists %>
	<%= link_to 'More...', "/tasks?page=#{@next_page}", class: "fg-button ui-state-default ui-corner-all"  %>
  <% end %>
	</td>
	</tr>
  </table>
</section>
