<tr>
	<td></td>
	<td><%= task.title %></td>
	<% if completed %>
	<td><%= dstr_out(task.finish_date) if task.finish_date %></td>
	<td>
	<%= link_to undo_span, undo_path(task, @user), method: :put, class: button_class_py,  title: "Unmark Complete" %>
	<%= link_to del_span, task_user_path(task, @user), confirm: 'Are you sure?', method: :delete, class: button_class_sy,  title: "Destroy" %></td>
<% else %>
<% due = Date.parse(task.due_date) %>
<% if task.due_date == Date.today.iso8601 %>
<td><%= "Today  (#{d_out(due)})" %>
<% elsif due < Date.today %>
<td class="overdue"><%= d_out(due) %></td>
<% else %>
<td><%= "#{d_days(task.due_date)} (#{d_out(due)})" %></td>
<% end %>
	<td>
	<div class="fg-buttonset fg-buttonset-multi">
	<%= link_to done_span, done_path(task, @user), method: :put, class: button_class_py,  title: "Mark Complete" %>
	<%= link_to(up_span, up_path(task, @user, prev), method: :put, class: button_class_sy,  title: "Move Up") if prev %>
	<%= link_to(down_span, down_path(task, @user, after), method: :put, class: button_class_sy,  title: "Move Down") if after %>
	</div>
	</td>
<% end %>
</tr>